:root{
    --fontplayfair: 'Playfair Display', serif;
    --fontsans: 'Work Sans', sans-serif;
}


*{
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
}

section.hero::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

header.mainheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 120px;
    z-index: 2;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.maincontent{
    display: flex;
    align-items: center;
    z-index: 2;
}

.maincontent nav{
    margin-right: 82px;
}

.maincontent nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

.maincontent nav ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    font-family: var(--fontsans)
}

.maincontent nav ul li a:hover{
    color: #5e6f97;
}

.button a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    font-size: 16px;
    line-height: 18.77px;
    font-family: var(--fontsans);
    font-weight: 400;
    text-decoration: none;
    background-color: #2094E6;
    color: #ffffff;
    z-index: 2;
}

.button a:hover{
    background-color: #51b7ff;
    color: #f7f7f7;
}



section.hero{
    display: flex;
    align-items: center;
    min-height: 660px;
    color: #ffffff;
}

section.hero figure{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
section.hero figure img{
    width: 100%;
    height: 100%;
}

section.hero .herocontent{
    margin-left: 120px;
    width: 592px;
}

section.hero .herocontent h1{
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 24px;
    font-weight: 600;
    font-family: var(--fontplayfair);
    z-index: 2;
}
    

section.hero .herocontent p{
    font-family: var(--fontsans);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 24px;
    z-index: 2;
}